body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

.outer-content-box-column {
    display: flex;
    flex-direction: column;
    padding: 0 15% 5%;
    flex: 1;
}

.content-box-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#hero-content-box {
    padding: 30px 0;
}

#hero-content-box>* {
    flex: 1;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-centered {
    justify-content: center;
}

.hero,
.footer {
    font-family: 'Roboto';
    background-color: #1f2937;
    justify-items: center;
}

#Hero-Main-Text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: auto;
}

#Hero-Secondary-Text {
    font-size: 18px;
    color: #e5e7eb;
    margin: auto;
}

#Hero-Button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    padding: 5px 20px;
}

.grey-background {
    background-color: grey;
}

#image-placeholder {
    color: #f9faf8;
    justify-content: center;
}

#image-placeholder>p {
    text-align: center;
    align-self: center;

}

#Header-Logo-Text {
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-links>a {
    text-decoration: none;
    color: #f9faf8;
}

#information-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.white-background {
    background-color: white;
}

.blue-button {
    border-radius: 8px;
    border-color: #3882f6;
    background-color: white;
    min-width: 100px;
    min-height: 100px;
}

.content-box-column.flex-wrap {
    max-width: 100px;
}

.content-box-column.flex-wrap>p {
    margin: auto;
}

#quote-content {
    background-color: #e5e7eb;

}

#quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    margin: 0;
}

#quote-right-align {
    align-self: self-end;
    margin: 0;
    margin-top: 5px;
}

.outer-content-box-column.padding-top {
    padding-top: 5%;
}

.blue-box-text>* {
    margin: 0;
}


#blue-box {
    background-color: #3882f6;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 30px 40px;
}


.blue-box-button {
    background-color: #3882f6;
    border-radius: 4px;
    border-color: #f9faf8;
    padding: 5px 20px;
    border-width: 1, 5px;
    border-style: solid;
    color: #f9faf8;
}